<main class="mt-5 py-5 container">

  <div class="row justify-content-center align-items-center mt-3 mb-4">
    <div class="col-12 justify-content-center container d-flex">
      <img width="200" src="img/g_logo.png" alt="">
    </div>
    <h2 class="h1 col-12 text-center">
      Login Glory Carriers Ministry Int'l
    </h2>
  </div>
  <form id="authenticate" class="row g-3 needs-validation" action="/auth/login" method="POST" novalidate>
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" id="validationCustom01" placeholder="Enter Email" required>
      <div class="valid-feedback">
        Email required
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="validationCustom02" placeholder="Password" required>
      <div class="valid-feedback">
        Password required
      </div>
    </div>

    <div class="col-12 mt-2 d-flex row">
      <a class="fw-bold fs-6 col-sm-6" style="color: var(--bg-body); text-decoration:underline;" href="#">Forget Password?</a>
      <a class="fw-bold fs-6 col-sm-6" style="color: var(--bg-body); text-decoration:underline;" href="/auth/register">Register</a>
    </div>

    <ul id="error" class="text-danger col-12"></ul>

    <div class="spinner-border col-12 d-none" id="status" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div class="col-12">
      <button id="btn" class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</main>

<script src="js/authenticate.js"></script>
