<main class="mt-5 py-5 container">
    <form class="row g-3 needs-validation" action="/auth/login" method="POST" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Email</label>
          <input name="email" type="email" class="form-control" id="validationCustom01" placeholder="Enter Email" required>
          <div class="valid-feedback">
            Email required
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="validationCustom02" placeholder="Password" required>
          <div class="valid-feedback">
            Password required
          </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
</main>
