<link href="css/sb-admin-2.min.css" rel="stylesheet">
 <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> admin_sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content mt-5">

                <!-- Topbar -->
                {{> admin_navbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                USER
                                            </div>
                                            <div class="text-xs mb-0 text-gray-800">
                                                <ul class="list-style-type-unstyled">
                                                    <li><a href="#" class="text-primary">Create New User</a></li>
                                                    <li><a href="#" class="text-primary">Update User Role</a></li>
                                                    <li><a href="#" class="text-primary">Delete User</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                               Roles
                                            </div>
                                            <div class="text-xs mb-0 text-gray-800">
                                                <ul class="list-style-type-unstyled">
                                                    <li><a href="#" class="text-success">View Role</a></li>
                                                    <li><a href="#" class="text-success">Update Role</a></li>
                                                    <li><a href="#" class="text-success">Delete Role</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-regular fa-id-badge fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Sermons
                                            </div>
                                            <div class="text-xs mb-0 text-gray-800">
                                                <ul class="list-style-type-unstyled">
                                                    <li><a href="#" class="text-info">Create New Sermon</a></li>
                                                    <li><a href="#" class="text-info">Update Sermon</a></li>
                                                    <li><a href="#" class="text-info">Delete Sermon</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-headphones-simple fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Now Word
                                            </div>
                                            <div class="text-xs mb-0 text-gray-800">
                                                <ul class="list-style-type-unstyled">
                                                    <li><a href="#" class="text-warning">Create Nowword</a></li>
                                                    <li><a href="#" class="text-warning">Update Nowword</a></li>
                                                    <li><a href="#" class="text-warning">Delete Nowword</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-file-word fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Zoe Records
                                            </div>
                                            <div class="text-xs mb-0 text-gray-800">
                                                <ul class="list-style-type-unstyled">
                                                    <li><a href="#" class="text-dark">Create New Record</a></li>
                                                    <li><a href="#" class="text-dark">Update Zoe Record</a></li>
                                                    <li><a href="#" class="text-dark">Delete Record</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-compact-disc fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        
                                    </p>
                                    <p class="mb-0">
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
             {{> logout}}

             <Script>
                const handleLogout = async () => {
                    try {
                        await fetch('/auth/logout', {
                        method: 'POST',
                        credentials: 'include', // Ensures cookies are sent with the request
                    });
                
                    window.location.href = "/admin/login"; // Update the UI after logout
                    } catch (err) {
                        console.error('Error logging out:', err);
                    }
                };
                
                document.getElementById('logout-button').addEventListener('click', handleLogout);
                
             </Script>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Core plugin JavaScript-->

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>