<link rel="stylesheet" href="css/sb-admin-2.css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{> admin_sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content mt-5">

            <!-- Topbar -->
            {{> admin_navbar}}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Users</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    {{> admin/usernav}}
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-12 mb-4">
                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Update User</h6>
                                <div>
                                    <div id="delete" data-url="/admin/user/{{user.id}}" type="click" class="btn btn-danger"><i class="fas fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="update-user-form" class="user needs-validation" action="/admin/user/{{user.id}}"
                                    method="POST" novalidate>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..." value="{{user.email}}" required>
                                        <div class="invalid-feedback">
                                            Email is required
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            placeholder="Username..." value="{{user.username}}" required>
                                        <div class="invalid-feedback">
                                            Username is required
                                        </div>
                                    </div>

                                    <!-- Check if the user has the 'staff' role (role ID 1) -->
                                    {{#if (hasRole user.user_roles 2)}}
                                    <div class="form-check form-check-inline my-3">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="true" name="is_staff" checked>
                                        <label class="form-check-label" for="inlineCheckbox1">Is Staff?</label>
                                    </div>
                                    {{else}}
                                    <div class="form-check form-check-inline my-3">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="true" name="is_staff">
                                        <label class="form-check-label" for="inlineCheckbox1">Is Staff?</label>
                                    </div>
                                    {{/if}}

                                    <!-- Check if the user has the 'admin' role (role ID 2) -->
                                    {{#if (hasRole user.user_roles 3)}}
                                    <div class="form-check form-check-inline my-3">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                            value="true" name="is_admin" checked>
                                        <label class="form-check-label" for="inlineCheckbox2">Is Admin?</label>
                                    </div>
                                    {{else}}
                                    <div class="form-check form-check-inline my-3">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                            value="true" name="is_admin">
                                        <label class="form-check-label" for="inlineCheckbox2">Is Admin?</label>
                                    </div>
                                    {{/if}}




                                    <hr>
                                    <ul id="error" class="text-danger col-12"></ul>

                                    <div class="spinner-border col-12 d-none" id="status" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                    <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                                        Update
                                    </button>
                                    <hr>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        {{> logout}}

        <Script>
            const handleLogout = async () => {
                try {
                    await fetch('/auth/logout', {
                        method: 'POST',
                        credentials: 'include', // Ensures cookies are sent with the request
                    });

                    window.location.href = "/admin/login"; // Update the UI after logout
                } catch (err) {
                    console.error('Error logging out:', err);
                }
            };

            document.getElementById('logout-button').addEventListener('click', handleLogout);

        </Script>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Core plugin JavaScript-->
<script src="js/user.js"></script>



<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>