<div class="container">
    <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="200" alt="GCMI lOGO">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
        <ul class="navbar-nav ml-auto" style="text-transform: uppercase;">
            
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/event">Event</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/giving">Giving</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/media/sermon">Sermon</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li> 
            <li class="nav-item">
                <div id="search" class="w-100">
                    <form action="/search" method="get" id="search-form" class="d-flex justify-content-between align-items-center mx-auto" style="background-color: #f8f9fa; border-radius: 30px; padding: 5px;">
                        <input name="search" type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" style="border: none; border-radius: 30px; padding: 5px; width: 100%; box-shadow: none;" required="">
                        <button class="btn btn-primary" type="submit" style="background-color: var(--blue-transparent); border: none; border-radius: 30px; margin-left: 4px; padding: 5px;">Search</button>
                    </form>
                </div>
                  
            </li>
        </ul>
        
    </div>
</div>