<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Glory Carriers Ministry Int'l is a  global ministry designed to bring men into the light of God's Glory, untill all eyes can see Christ revealed.">
        <meta name="keywords" content="glory carriers, embassy of glory, GCMI,">
        <meta name="author" content="gcmi">
        <meta property="og:title" content="Glory Carriers Ministry Int'l">
        <meta property="og:description" content="Glory Carriers Ministry Int'l is a  global ministry designed to bring men into the light of God's Glory, untill all eyes can see Christ revealed.">
        <meta property="og:image" content="">
        <meta property="og:url" content="">

        <!--twitter social share-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Glory Carriers Ministry Int'l" id="twitterTitle">
        <meta name="twitter:description" content="Glory Carriers Ministry Int'l is a  global ministry designed to bring men into the light of God's Glory, untill all eyes can see Christ revealed." id="twitterDescription">
        <meta name="twitter:image" content="img/logo.png" id="twitterImage">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{title}}</title>

        <link rel="icon" href="img/g_logo.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/solid.min.css" integrity="sha512-Hp+WwK4QdKZk9/W0ViDvLunYjFrGJmNDt6sCflZNkjgvNq9mY+0tMbd6tWMiAlcf1OQyqL4gn2rYp7UsfssZPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer">


        <link href="css/style.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    {{> style}}

    </head>
    <body>
         <!--============PRELOADER============
         <div id="preloader">
            <div class="container">
                <div class="ring"></div>
                <div class="ring"></div>
                <div class="ring"></div>
                <div class="loading">
                    <img width="80" src="img/g_logo.png" alt="GCMI G_logo">
                </div>
            </div>
        </div>
        ============PRELOADER END==============-->

        <!--============ROOT SECTION==============-->
        <section id="root" class=" position-relative overflow-x-hidden">
            <!--=========HEADER BEGIN===========-->
            <nav id="header" class="navbar navbar-expand-md navbar-dark  fixed-top mediumnavigation nav-down" aria-label="Fourth navbar example">
                {{> header}}
            </nav>
            <!--=========HEADER END===========-->
            
            <!--=========MAIN BEGIN===========-->
            {{{body}}}
            <!--=========MAIN END===========-->

            <!--=========FOOTER BEGIN===========-->

            <footer id="footer" class="pt-5 pb-0 m-0">
                {{> footer}}
            </footer>
            <!--=========FOOTER END===========-->
        </section>
        <!--============ROOT SECTION END==============-->

        <!--========JavaScript=========
        <script>
            window.addEventListener('load', ()=>{
              setInterval(()=>{
                //document.querySelector("#preloader").classList.add('hidden-item')
				document.querySelector("#root").classList.remove('show-hidden')
              }, 2000)
            })
        </script>======= -->

		<script type="module" src="js/app.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <!--========JavaScript END================ -->
    </body>
</html>