<link rel="stylesheet" href="css/sb-admin-2.css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<style>
    /** 
    account page 
    **/
    .main_img{
        position: relative;
        cursor: pointer;
        width: 300px;
        height: 300px;

    }
    .profile_img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .main_overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 1s;
    }
    .main_overlay:hover{
        opacity: 1;
    }

    .main_overlay_blur {
        backdrop-filter: blur(5px);
    }

    .main_overlay > * {
        transform: translateY(20px);
        transition: transform 1s;
    }
    .main_overlay:hover > * {
        transform: translateY(0);
    }
</style>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{> admin_sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content mt-5">

            <!-- Topbar -->
            {{> admin_navbar}}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Sermon</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    {{> admin/sermonnav}}
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-12 mb-4">
                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Create Sermon</h6>
                                <div>
                                    <div id="delete" data-url="/admin/sermon/{{sermon.id}}" type="click" class="btn btn-danger"><i class="fas fa-solid fa-trash-can"></i></div>
                                    <div class="spinner-border d-none status" id="status" role="status">
                                        <span class="sr-only">Loading... </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/admin/sermon/create" method="POST" id="create-media" enctype="multipart/form-data" class="user needs-validation" novalidate>
                                    

                                    <div class="form-group row">
                                        <div class="container col-12 mt-3 mb-4 d-flex justify-content-start">
                                            <div class="container d-sm-flex">
                                                <!-- Audio element with controls -->
                                                <audio src="" controls style="width: 70%; object-fit: fill;" id="audioPlayer">
                                                    <!-- If there's an initial URL, it will be loaded here -->
                                                    <source src="" type="audio/*">
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div class="mx-3">
                                                    <label for="id_audio_file" class="text-center btn btn-outline-secondary"><i class="fa fa-edit"></i> Choose Audio</label>
                                                </div>
                                                <!-- File input element -->
                                                <input type="file" name="audio" value="" id="id_audio_file" accept="audio/*" class="form-control" hidden required>
                                            </div>
                                            <div class="invalid-feedback">
                                                You need to select an audio file
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="container col-7 mt-3 mb-4 d-grid justify-content-start">
                                            <label for="" class="fw-bold fs-6">Image</label>
                                            <div class="main_img container border" id="id_image_group">
                                            <img style="width: 100%; object-fit:fill;" src="" alt="choose an Image" class="profile_img" id="id_image_display">
                                            <div class="main_overlay main_overlay_blur">
                                                <div class="text-center"><i class="fa fa-edit"></i> Click to Choose an Image</div>
                                            </div>

                                            <input type="file" name="image" id="id_image_file" onchange="readURL(this)" accept="image/*" class="form-control" value="" hidden="" required>
                                            </div>
                                            <div class="invalid-feedback">
                                                You need to select an image file
                                            </div>
                                        </div>
                                    </div>

                        

                                    <div class="form-group">
                                        <label for="" class="fw-bold fs-6">video</label>
                                        <input type="url" id="video" name="video_url" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            value="">
                                        <div class="invalid-feedback">
                                            You need to select an video url
                                        </div>
                                    </div>

                                    <hr>
                                    <ul id="error" class="text-danger col-12"></ul>

                                    <div class="spinner-border col-12 d-none status" id="status" role="status">
                                        <span class="sr-only">Loading... </span>
                                    </div>
                                    
                                    <progress id="progressBar" value="0" max="100" style="width: 100%; display: none;"></progress>
                                    <hr class="mb-3">

                                    <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                                        upload
                                    </button>
                                    <hr>

                                    
                    
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
            <!-- /.container-fluid -->

        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>

<!-- Core plugin JavaScript-->
<script src="js/uploader.js"></script>
<!--<script src="js/user.js"></script>-->



<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>