<link rel="stylesheet" href="css/sb-admin-2.css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{> admin_sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content mt-5">

            <!-- Topbar -->
            {{> admin_navbar}}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Sermon</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    {{> admin/sermonnav}}
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-12 mb-4">
                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Create Sermon</h6>
                                <div>
                                    <div id="delete" data-url="/admin/sermon/{{sermon.id}}" type="click" class="btn btn-danger"><i class="fas fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/admin/sermon/create" method="POST" id="create-media" enctype="multipart/form-data" class="user needs-validation" novalidate>
                                    

                                    
                                    <div class="form-group">
                                        <input type="file" id="audio" name="audio" accept="audio/*" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            value="{{sermon.audio_url}}" required>
                                        <div class="invalid-feedback">
                                            choose an audio file
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            value="{{sermon.image_url}}" required>
                                        <div class="invalid-feedback">
                                            You need to select an image file
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="url" id="video" name="video_url" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            value="{{sermon.video_url}}" required>
                                        <div class="invalid-feedback">
                                            You need to select an video url
                                        </div>
                                    </div>

                                    <hr>
                                    <ul id="error" class="text-danger col-12"></ul>

                                    <div class="spinner-border col-12 d-none" id="status" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                    <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                                        Upload
                                    </button>
                                    <hr>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <progress id="progressBar" value="0" max="100" style="width: 100%; display: none;"></progress>
                    <div id="status" class="text-danger"></div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Core plugin JavaScript-->
<script src="js/uploader.js"></script>
<!--<script src="js/user.js"></script>-->



<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>