<main style="overflow: hidden;">
    <!---=========INTRO BEGIN========-->
    <section class="pt-5 mb-0 ft-upper">
        <div class="container">
            <div class="row justify-content-center align-items-end container">
                <div class="col-md-4 justify-content-center container d-grid">
                    <img src="img/about.png" width="400" alt="about">
                </div>

                <div class="col-md-8 justify-content-center container mt-5">
                    <div class="row text-md-end text-center fw-bold" style="font-family: Nexa; text-transform:none;">
                        <div class="col-12">
                            <h2 class="fw-bold" style="color: var(--fire-red);">ABOUT OUR SENIOR PASTOR</h2>
                            <p class=" text-md-end text-center text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        </div>
                        <div class="col-12">
                            <h2 class="fw-bold" style="color: var(--fire-red);">OUR VISION</h2>
                            <p class=" text-md-end text-center text-dark">To Cover the whole earth with the knowledge of the Glory of God until every eye sees Jesus revealed. To show how that every human can now walk with the life and authority of God on Earth as it is in Heaven. To make sure no man goes to hell because all authority has been given to us as a church to subject satan and hell to nullity by the preaching of the Gospel which is the power of God on to salvation.</p>
                        </div>
                        <div class="col-12">
                            <h2 class="fw-bold" style="color: var(--fire-red);">OUR MISSION</h2>
                            <p class=" text-md-end text-center text-dark">Our strategy to fulfilling this God given vision is to train and equip men to go into every system of the world and takeover for God’s kingdom. To have a world-class auditorium that has never been heard of in Benue state, Nigeria and the entire nations of the Earth. This way, men from every part of the world can comfortably sit and be transformed into God's plan. There is within us by the spirit, a voracious appetite to making sure what God has showed us becomes a reality.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class=""></div>
        
    </section>
    
    <!---=========INTRO END========-->
    
</main>

<div class="ellipse_circle" style="top: -250px;"></div>
<div class="ellipse_circle_blue" style="bottom: 10%;"></div>
