<main>
    <section class="mt-5 pt-5 mb-5">
     <div class="container mt-5">
         <div class="mt-5 py-5 ft-upper fw-bold text-center fs-5" style="color:var(--fire-red)">Join a Department</div>
     
         <div class="row justify-content-center align-items-center">
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/tgc.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Tehilla Gospel Choir
                 </div>
             </div>

             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/wlc.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Welcome/Greeters
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/crt.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Creativity
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/med.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Media
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/prayer.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Prayer
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/councel.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Welfare/Counseling
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/tech.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Technical
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/usher.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Ushering
                 </div>
             </div>
             <div class="col-sm-4 mb-4">
                 <div class="">
                     <img width="100%" src="img/protocol.jfif" alt="tehilla">
                 </div>
                 <div class="text-secondary text-center ft-upper fs-6">
                     Protocol
                 </div>
             </div>
         </div>
     </div>

    </section>
 </main>

 <div class="ellipse_circle"></div>
<div class="ellipse_circle_blue" ></div>
