<main class="mt-5">

    <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
        <!--<div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>-->
        <div class="carousel-inner" style="height: 1000px;">
          <div class="carousel-item active">
            <img src="img/event.jfif" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block fw-bold" >
                <h2 class="h1 fw-bold">Zoe Conference'24</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/z3.jfif" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
          </div>
          
        </div>
        <!--
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>-->
      </div>
      


    <section class="mt-5 mb-0">
        <div class="row align-items-center">
            <div style="background-color: var(--bg-body);" class="col-sm-6 py-5 ps-5">
                <div class="">
                    <img class="" width="100%" src="img/event.jfif" alt="about page">
                </div>
            </div>

            <div style="background-color: var(--white);" class="col-sm-6 py-5 justify-content-center text-center align-items-center order-first order-sm-last">
                <div class="container px-4">
                    <h2 style="color: var(--bg-midnight-blue);" class="ft-upper fw-bold fs-1 text-sm-start text-center">About the Upcoming Event</h2>
                    <p style="color: var(--bg-body);" class="text-center text-sm-start">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </p> 
                </div>                           
            </div>                        
        </div>
    </section>


</main>