<main class="mt-5">

    <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
        <!--<div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>-->
        <div class="carousel-inner" style="height: 800px;">
          <div class="carousel-item active">
            <img src="img/event.jfif" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block fw-bold" >
                <h2 class="h1 fw-bold"></h2>
                <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/z3.jfif" class="d-block w-100" alt="Slide 2">
           
          </div>
          
        </div>
        
      </div>
      


    <section class="mt-1 mb-0">
        <div class="row align-items-center">
            <div style="background-color: var(--bg-body);" class="col-sm-6 py-5 ps-5">
                <div class="">
                    <img class="" width="100%" src="img/event.jfif" alt="about page">
                </div>
            </div>

            <div style="background-color: var(--white);" class="col-sm-6 py-5 justify-content-center text-center align-items-center order-first order-sm-last">
                <div class="container px-4">
                    <h2 style="color: var(--bg-midnight-blue);" class="ft-upper fw-bold fs-1 text-sm-start text-center">About the Upcoming Event</h2>
                    <p style="color: var(--bg-body);" class="text-center text-sm-start">
                      Join us for the upcoming Prosperity Summit, a transformative event designed to empower you with biblical principles for financial abundance and success. Over two days, you'll hear from dynamic speakers, including our man of God, Prophet Simon Thomas, who will share insights on unlocking God’s prosperity in every area of your life. Don't miss this opportunity to elevate your financial future and walk in divine prosperity. Mark your calendar and invite others to experience this life-changing summit!
                    </p> 
                </div>                           
            </div>                        
        </div>
    </section>


</main>