<link rel="stylesheet" href="css/sb-admin-2.css">
<link rel="stylesheet" href="css/sb-admin-2.min.css">

<main class="mt-5">

    <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/event.jfif" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block fw-bold">
                <h2 class="h1 fw-bold"></h2>
                <p  style="color: var(--bg-body);" class="text-center text-sm-start"></p>
            </div>
          </div>
        </div>
      </div>

    <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-12">
  
          <div class="card o-hidden border-0 my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row align-items-center">
  
                <div class="col-lg-6 col-12 mt-md-0 mt-2 d-lg-block bg-login-image">
                  <div class="container">
                    <h2 style="color: var(--bg-midnight-blue);" class="ft-upper fw-bold fs-1 text-sm-start text-center">Zoe Conference 2025: <span> "New Wine"</span></h2>
                    
                      
                    <p  style="color: var(--bg-body);" class="text-start">Join us for the annual Zoe Conference, a global gathering dedicated to spreading the Gospel and transforming lives through the power of God's word. This year's edition takes place in May, bringing together people from around the world for a time of revelation, renewal, and spiritual growth.</p>

                    <h2 class="fw-bold">About the Conference</h2>
                    <hr>
                    <h4>
                      Zoe Conference aims to:
                    </h4>

                    <ul style="color: var(--bg-body);" class="text-start">
                      <li><p>Deepen spiritual understanding: Explore the depths of God's word and its application in our lives.</p></li>
                      <li><p>Foster spiritual growth: Provide a platform for believers to grow in their faith and relationship with God.</p></li>
                      <li><p>Inspire and motivate: Equip attendees with the tools and inspiration needed to live a life that reflects God's love and purpose.</p></li>
                    </ul> 
                    
                    <h4>Who Should Attend?</h4>
                    <p  style="color: var(--bg-body);" class="text-start">Zoe Conference is open to people of all ages and backgrounds who are seeking a deeper relationship with God and a fresh perspective on life. Whether you're a long-time believer or just starting your spiritual journey, this conference promises to be a valuable experience.</p>

                    <h4>Date and Location</h4>

                    <ul style="color: var(--bg-body);" class="text-start">
                      <li><p><strong>Date:</strong> 29-31 May, 2025</p></li>
                      <li><p><strong>Location:</strong> Sheraton Hotel Makurdi, Benue State</p></li>
                    </ul>

                    <p  style="color: var(--bg-body);" class="text-start">We look forward to welcoming you to the Zoe Conference 2025.</p>
                </div> 
                </div>
  
                <div class="col-lg-6 col-12">
                  <div class="">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Register for Zoe Conference</h1>
                    </div>
                    <form id="registerEvent" class="user needs-validation" action="/event" method="POST" novalidate>
                      <div class="form-group">
                        <input type="text" name="name" class="form-control rounded-1 form-control-user" id="exampleInputName"
                          placeholder="Enter Your Full Name..." required>
                        <div class="invalid-feedback">
                          Full name is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control rounded-1 form-control-user" id="exampleInputEmail"
                          placeholder="Enter Email Address..." required>
                        <div class="invalid-feedback">
                          Email is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" name="phone" class="form-control rounded-1 form-control-user" id="exampleInputPhone"
                          placeholder="Phone Number..." required>
                        <div class="invalid-feedback">
                          Phone number is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <textarea type="text" name="location" rows="3" class="form-control rounded-1 form-control-user" id="exampleInputLocation"
                          placeholder="Address..." required></textarea>
                        <div class="invalid-feedback">
                          Address is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <select name="gender" class="form-control rounded-1" required>
                          <option value="" selected disabled>Select Gender...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                        <div class="invalid-feedback">
                          Gender is required.
                        </div>
                      </div>
                      
                      <hr>
                      <ul id="error" class="text-danger col-12"></ul>
  
                      <div class="spinner-border col-12 d-none" id="status" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
  
                      <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                        Register
                      </button>
                      <hr>
                    </form>
                    <div class="text-center">
                      <a class="small" href="/healing-school">Enroll in our healing School</a>
                    </div>

                    <hr>
  
                    <div class="text-center">                      
                      <a class="small" href="/members">Become a Member</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>

</main>

<script src="js/authenticate.js"></script>