<main style="overflow: hidden;">
    <!---=========INTRO BEGIN========-->
    <section class="mt-5 mb-5 pt-5 mb-0 ft-upper">
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center align-items-center container">
                <div class="col-md-4 mb-5 justify-content-center container d-grid text-center text-sm-start">
                    <span  style="color:var(--fire-red)" class="h2 fw-bold"><span class="text-dark fw-bold">”</span>GIVING</span>
                   <span class="text-dark fs-4 fw-bold" style="text-transform: none;"> Give and it will be given to you: good measure, pressed down, shaken together, and running over will be put into your bosom. For with the same measure that you use, it will be measured back to you." <span class="text-muted fw-bold fs-3">Luke 6:38</span></span>
                </div>
                <div class="col-md-8 justify-content-center container tithe-text">
                    <div class="row">
                        <div class="col-12 mb-3 rounded-4" style="background: linear-gradient(84.32deg, #191B59 59.79%, #7A35BF 137.12%);">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 d-grid text-center">
                                    <div style="color: #71D4FF;" class="fs-4">TITHE/OFFERING</div>
                                    <div class="d-grid mx-1 mb-2 py-2 px-1 justify-content-center rounded-4" style="background: #71D4FF;">
                                        <img src="img/icon/g1.png" width="100" alt="giving">
                                    </div>
                                </div>
                                
                                <div class="col-sm-8 text-center text-sm-start">
                                    <div class="h1 fw-bold">6060389247</div>
                                    <div>GLORY CARRIERS MINISTRY INT'L.</div>
                                    <div style="color: var(--yellow);">Fidelity Bank</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-4 rounded-4" style="background: linear-gradient(84.32deg, #191B59 59.79%, #7A35BF 137.12%);">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 d-grid text-center">
                                    <div style="color: #71D4FF;" class="fs-4">PARTNERSHIP</div>
                                    <div class="d-grid mx-1 mb-2 py-2 px-1 justify-content-center rounded-4" style="border: 1px solid #71D4FF;">
                                        <img src="img/icon/g2.png" width="100" alt="giving">
                                    </div>
                                </div>
                                
                                <div class="col-sm-8 text-center text-sm-start">
                                    <div class="h1 fw-bold">1022868162</div>
                                    <div>GLORY CARRIERS MINISTRY INT'L.</div>
                                    <div style="color: var(--yellow);">UBA (United Bank For Africa)</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-4 rounded-4" style="background: linear-gradient(84.32deg, #191B59 59.79%, #7A35BF 137.12%);">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 d-grid text-center">
                                    <div style="color: #71D4FF;" class="fs-4">PROJECT</div>
                                    <div class="d-grid mx-1 mb-2 py-2 px-1 justify-content-center rounded-4" style="border: 1px solid #71D4FF;">
                                        <img src="img/icon/g3.png" width="100" alt="giving">
                                    </div>
                                </div>
                                
                                <div class="col-sm-8 text-center text-sm-start">
                                    <div class="h1 fw-bold">1025506216</div>
                                    <div>GCMI PROJECT ACCOUNT</div>
                                    <div style="color: var(--yellow);">UBA (United Bank For Africa)</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-4 rounded-4" style="background: linear-gradient(84.32deg, #191B59 59.79%, #7A35BF 137.12%);">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 d-grid text-center">
                                    <div style="color: #71D4FF;" class="fs-4">SEED SOWING</div>
                                    <div class="d-grid mx-1 mb-2 py-2 px-1 justify-content-center rounded-4" style="border: 1px solid #71D4FF;">
                                        <img src="img/icon/g4.png" width="100" alt="giving">
                                    </div>
                                </div>
                                
                                <div class="col-sm-8 text-center text-sm-start">
                                    <div class="h1 fw-bold text-secondary">COMING SOON....</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class=""></div>
        
    </section>
    
    <!---=========INTRO END========-->
    
</main>

<div class="ellipse_circle"></div>
<div class="ellipse_circle_blue" ></div>
