<style>
    #media .icon:hover{
        background-color: var(--blue) !important;
        color: var(--black) !important;
        transition: background-color .6s linear;
    }
    #media .icon:hover div{
        color: var(--black) !important;
    }
</style>

<main>
    <!---=========INTRO BEGIN========-->
    <section class="intro mb-0 ft-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex mx-auto position-relative">
                        <div class="year">2024</div>
                        <div class="text_year">Our Year<span class="the">of The</span></div>
                        
                    </div>
                    <h1 class="d-grid mx-0">
                        <div class="birthing">Birthing</div>
                        <div class="glory">And The Glory</div>
                    </h1>
                </div>
            </div>
        </div>

        <div class="ellipse"></div>
        
    </section>
    
    <!---=========INTRO END========-->
    

    <section class="about pt-5 mt-0">
        <div class="d-flex justify-content-end" id="live-stream">
            <div class="live-stream d-flex align-items-center">
                <img width="25" src="img/icon/live_stream.png" alt="live stream">
                <div class="mx-2">
                    <a class="fs-5" style="background: none; color:var(--white); letter-spacing:2.5px;" href="/media/stream">Live Streaming</a>
                </div>
            </div>
        </div>
        <div class="container" style="overflow-x: hidden;">
            <div class="about-bg-text text-color-blue">
                GCMI
            </div>
            <div class="row align-items-start scroll-x-top-el">
                <div class="col-md-6 mb-4 text-md-start text-center">
                    <h2 class="text-color-blue ft-upper text-md-start text-center">About Us</h2>
                    <p>
                        Welcome to the Glory Carriers Ministry Int'l Website repository! This repository contains all the code and resources for building and maintaining the official website of Glory Carriers Ministry Int'l.
                    </p>

                    <p>
                        Glory Carriers Ministry Int'l is a  global ministry designed to bring men into the light of God's Glory, untill all eyes can see Christ revealed.
                        This website serves as a central platform for members and visitors to access information about the church, its ministries, events, sermons, and more.
                    </p>

                    <a href="/about">
                        learn more
                    </a>
                    
                </div>
                <div class="col-md-6 mb-4">
                    <div class="">
                        <img class="" width="100%" src="img/about.jfif" alt="about page">
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="about pt-5 mt-0" id="event">
        <div class="container" style="overflow-x: hidden;">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7 mb-4">
                    <div class="">
                        <img class="" width="100%" src="img/event.jfif" alt="about page">
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 mb-4 justify-content-md-end justify-content-center text-md-end text-center align-items-center scroll-x-down-el">
                    <h4 class="text-color-blue ft-upper text-md-end text-center">Upcoming</h4>
                    <h2 class="text-color-blue ft-upper text-md-end text-center">Event</h2>
                    <p>
                        Welcome to the Glory Carriers Ministry Int'l Website repository! This repository contains all the code and resources for building and maintaining the official website of Glory Carriers Ministry Int'l.
                    </p>
                    <a href="/event">
                        see details
                    </a>
                    
                </div>                        
            </div>
            
        </div>
    </section>

    <section class="about pt-5 pb-4 mt-0" id="media">
        <div class="row justify-content-center">
            <h4 class="text-color-blue ft-upper fs-4 text-center">Media</h4>
        </div>

        <div class="container ft-upper text-color-blue d-sm-flex d-grid justify-content-center justify-content-sm-between align-items-center" style="display: grid;">
            <a href="/media" class="icon" style="background: none;">
                <img src="img/icon/sermon.png" alt="sermon">
                <div class=" ft-upper text-color-blue fw-light">
                    sermon
                </div>
            </a>
            <a href="/media/now-word" class="icon" style="background: none;">
                <img src="img/icon/nw.png" alt="now word">
                <div class=" ft-upper text-color-blue fw-light">
                    Now Word
                </div>
            </a>
            <a href="/media/zoe-records" class="icon" style="background: none;">
                <img src="img/icon/mp3.png" alt="mp3">
                <div class=" ft-upper text-color-blue fw-light">
                    Zoe Records
                </div>
            </a>
        </div>

        <div class="row pt-5 pb-4 justify-content-center">
            <h4 class="col-12 text-center text-color-blue ft-upper fs-4">Join a Department</h4>
            <div class="text-center mt-4">
                <a href="/department" class="text-center fw-bold fs-3 ft-upper" style="background-color: var(--yellow);">Register Now</a>
            </div>
        </div>

    </section>
</main>