<style>
    #media .icon:hover{
        background-color: var(--blue) !important;
        color: var(--black) !important;
        transition: background-color .6s linear;
        font-weight: bolder;
        font-family: Nexa-Bold;
    }
    #media .icon:hover div{
        color: var(--black) !important;
    }
</style>

<main>
    <!---=========INTRO BEGIN========-->
    <section class="intro mb-0 ft-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex mx-auto position-relative">
                        <div class="year">2024</div>
                        <div class="text_year">Our Year<span class="the">of The</span></div>
                        
                    </div>
                    <h1 class="d-grid mx-0">
                        <div class="birthing">Birthing</div>
                        <div class="glory">And The Glory</div>
                    </h1>
                </div>
            </div>
        </div>

        <div class="ellipse"></div>
        
    </section>
    
    <!---=========INTRO END========-->
    

    <section class="about pt-5 mt-0">
        <div class="d-flex justify-content-end" id="live-stream">
            <div class="live-stream d-flex align-items-center px-1 py-2">
                <img width="35" src="img/icon/live_stream.png" alt="live stream">
                <div class="mx-1">
                    <a class="fs-3" style="background: none; border:none; color:var(--white); letter-spacing:2.5px;" href="/media/stream">Live Streaming</a>
                </div>
            </div>
        </div>
        <div class="container" style="overflow-x: hidden;">
            <!--<div class="about-bg-text text-color-blue">
                GCMI
            </div>-->
            <div class="row align-items-start">
                <div class="col-md-6 mb-4 text-md-start text-center scroll-x-top-el">
                    <h2 class="text-color-blue ft-upper text-md-start text-center">About Us</h2>
                    <p>
                        Welcome to the Glory Carriers Ministry Int'l official Website!.
                    </p>

                    <p>
                        Glory Carriers Ministry Int'l is a  global ministry designed to bring men into the light of God's Glory, untill all eyes can see Christ revealed.
                        This website serves as a central platform for members and visitors to access information about the church, its ministries, events, sermons, and more.
                    </p>

                    <a href="/about">
                        learn more
                    </a>
                    
                </div>
                <div class="col-md-6 mb-4">
                    <div class="">
                        <img class="" width="100%" src="img/about.jfif" alt="about page">
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="about pt-5 mt-0" id="event">
        <div class="container" style="overflow-x: hidden;">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7 mb-4">
                    <div class="">
                        <img class="" width="100%" src="img/event.jfif" alt="about page">
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 mb-4 justify-content-md-end justify-content-center text-md-end text-center align-items-center scroll-x-down-el">
                    <h4 class="text-color-blue ft-upper text-md-end text-center">Upcoming</h4>
                    <h2 class="text-color-blue ft-upper text-md-end text-center">Events</h2>
                    <p>
                        Join us for Kabod '24, our annual event dedicated to unveiling the revelation of Christ. Experience transformative teachings that will deepen your understanding of His glory and purpose for your life. Don’t miss this powerful encounter!
                    </p>
                    <a href="/event">
                        see details
                    </a>
                    
                </div>                        
            </div>
            
        </div>
    </section>

    <section class="about pt-5 mt-0" id="event">
        <div class="container" style="overflow-x: hidden;">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 justify-content-lg-start justify-content-center text-lg-start text-center align-items-center scroll-x-top-el">
                    <h4 class="text-color-blue ft-upper text-lg-start text-center">Church</h4>
                    <h2 class="text-color-blue ft-upper text-lg-start text-center">Project</h2>
                    <p>
                        Our current church project focuses on acquiring land for future expansion and development. 
                        This strategic investment aims to provide a dedicated space for worship, community outreach, 
                        and various church activities, ensuring we have the facilities needed to support our growing congregation. 
                        Your prayers and support are essential as we work towards this vision.
                    </p>
                    <a href="/giving">
                        Continue
                    </a>
                    
                </div> 

                <div class="col-lg-6 mb-4 scroll-x-down-el">
                    <div class="">
                        <img class="" width="100%" src="img/t1.jpg" alt="about page">
                    </div>
                </div>                                       
            </div>
            
        </div>
    </section>

    <section class=" mb-5">
        <div class="container mt-5">
            <div>
                <h4 class="col-12 text-center ft-upper fs-4 fw-bold" style="color: var(--bg-body); text-decoration:underline;">Recent Sermons</h4>
            </div>
        
            <div class="row justify-content-start align-items-center">

                {{#each sermons}}
                <div class="col-md-6 p-3 mb-4 scroll-y-top-el">
                    <div class="" style="height: 500px;">
                        <img class="rounded-4" style="object-fit: fill; height: 100%; width: 100%;" src="{{this.image_url}}" alt="{{this.title}}">
                    </div>
                    <div class="d-flex justify-content-between mx-3 mx-auto mt-1 px-5 text-secondary container text-center ft-upper fs-6">
                        <a href="{{this.audio_url}}" class="download-link"><img src="img/icon/download1.png" width="25" alt=""></a>
                        <a href="{{this.audio_url}}"><img src="img/icon/listen1.png" width="25" alt=""></a>
                        <a href="{{this.video_url}}"><img src="img/icon/stream.png" width="25" alt=""></a>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
    </section>

    <section class="about pt-5 pb-4 mt-0" id="media">
        <div class="row justify-content-center">
            <h4 class="text-color-blue ft-upper fs-4 text-center">Media</h4>
        </div>

        <div class="container ft-upper text-color-blue d-sm-flex d-grid justify-content-center justify-content-sm-between align-items-center" style="display: grid;">
            <a href="/media/sermon" class="icon scroll-x-top-el" style="background: none;">
                <img src="img/icon/sermon.png" alt="sermon">
                <div class=" ft-upper text-color-blue fw-light">
                    Sermons
                </div>
            </a>
            <a href="/media/now-word" class="icon scroll-y-top-el" style="background: none;">
                <img src="img/icon/nw.png" alt="now word">
                <div class=" ft-upper text-color-blue fw-light">
                    Now Word
                </div>
            </a>
            <a href="/media/zoe-record" class="icon scroll-x-down-el" style="background: none;">
                <img src="img/icon/mp3.png" alt="mp3">
                <div class=" ft-upper text-color-blue fw-light">
                    Zoe Records
                </div>
            </a>
        </div>

        <div class="row pt-5 pb-4 justify-content-center">
            <h4 class="col-12 text-center text-color-blue ft-upper fs-4">Join a Department</h4>
            <div class="text-center mt-4">
                <a href="/department" class="text-center fw-bold fs-3 ft-upper" style="background-color: var(--yellow);">Register Now</a>
            </div>
        </div>
    </section>
    <section class="py-5 memeber">
        <div class="container">
            <div class="row memeber-content"> 
                <div class="col-md-9 col-lg-6 pt-5 pb-4 justify-content-center">
                    <h4 class="text-center text-md-start text-light ft-upper fs-1 fw-bold">Become a Virtual Member</h4>
                    <p class="text-center text-md-start fs-3 text-light">
                        Are you looking to join the church community from a distance? Become an active member today by clicking the link below to register.
                    </p>
                    <div class="text-center text-md-start mt-4">
                        <a href="/members" class="btn btn-outline-light text-center fw-bold fs-3 ft-upper">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>