<main>
    <!---=========INTRO BEGIN========-->
    <section class="mt-5 pt-5 mb-0 ft-upper">
        <div class="container mt-5">
            <div class="row justify-content-center align-items-end container">
                <div class="col-md-8 justify-content-center container rounded-4 relative-container" style="overflow-x: hidden; overflow-y:hidden;">
                    
                </div>
            </div>
            
        </div>

        <div class=""></div>
        
    </section>
    
    <!---=========INTRO END========-->


    <section class=" mb-5">
        <div class="container mt-5">
            <div class="mt-5 pt-5 ft-upper fw-bold text-center fs-5" style="color:var(--fire-red)">About Zoe Records</div>
            <p class="mb-3 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <p class="mb-3 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-6 col mb-4">
                    <div class="">
                        <img width="100%" class="rounded-4" src="img/z1.jfif" alt="tehilla">
                    </div>
                    <div class="text-secondary text-center ft-upper fs-6">
                        <img src="img/icon/listen.png" width="90" alt="">
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col mb-4">
                    <div class="">
                        <img width="100%" class="rounded-4" src="img/z2.jfif" alt="tehilla">
                    </div>
                    <div class="text-secondary text-center ft-upper fs-6">
                        <img src="img/icon/listen.png" width="90" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col mb-4">
                    <div class="">
                        <img width="100%" class="rounded-4" src="img/z3.jfif" alt="tehilla">
                    </div>
                    <div class="text-secondary text-center ft-upper fs-6">
                        <img src="img/icon/listen.png" width="90" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col mb-4">
                    <div class="">
                        <img width="100%" class="rounded-4" src="img/z4.jfif" alt="tehilla">
                    </div>
                    <div class="text-secondary text-center ft-upper fs-6">
                        <img src="img/icon/listen.png" width="90" alt="">
                    </div>
                </div>
                
            </div>
        </div>
       </section>
    
</main>

<div class="ellipse_circle"></div>
<div class="ellipse_circle_blue"></div>
