<link href="css/sb-admin-2.min.css" rel="stylesheet">
 <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> admin_sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content mt-5">

                <!-- Topbar -->
                {{> admin_navbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Now word</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        {{> admin/nowwordnav}}
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-12 mb-4">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">All Nowword</h6>
                                </div>
                                <div class="card-body table-responsive-md">
                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                            {{#each nowword}}
                                            <tr>
                                                <th scope="row">{{this.id}}</th>
                                                <td><a href="/admin/nowword/{{this.id}}">{{this.title}}</a></td>
                                                <td>{{this.date}}</a></td>
                                            </tr>
                                            {{/each}}
                                          
                                        </tbody>
                                        
                                    </table>

                                    <div class="d-flex mt-5 justify-content-center">
                                        <nav aria-label="Page navigation">
                                          <ul class="pagination">
                                            {{#if (gt currentPage 1)}}
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{subtract currentPage 1}}">Previous</a>
                                              </li>
                                            {{else}}
                                              <li class="page-item disabled">
                                                <a class="page-link">Previous</a>
                                              </li>
                                            {{/if}}
                                      
                                            {{#each (range 1 totalPages)}}
                                              <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                                                <a class="page-link" href="?page={{this}}">{{this}}</a>
                                              </li>
                                            {{/each}}
                                      
                                            {{#if (lt currentPage totalPages)}}
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{add currentPage 1}}">Next</a>
                                              </li>
                                            {{else}}
                                              <li class="page-item disabled">
                                                <a class="page-link">Next</a>
                                              </li>
                                            {{/if}}
                                          </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
             

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Core plugin JavaScript-->

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>