:root{
    --black: #000000;
    --white:white;
    --indigo: indigo;
    --gold: rgb(187, 160, 10);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--white);
}
.body-dark{
    background: var(--black);
}
#screen-mode{
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
}
.hidden-item {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.show-hidden{
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s 1.5s, opacity 1.5s linear
}

#preloader{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: var(--bg-body);
}

#preloader .container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loading{
    color: var(--white);
}
.loading img{
    animation: fadeImg 2s linear infinite;
}

.ring{
    width: 200px;
    height: 200px;
    border: 0 solid var(--white);
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
    border-bottom-width: 5px;
    outline: none;
    border-color: var(--indigo);
    animation: rotate1 2s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 5px;
    border-color: var(--blue);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 5px;
    border-color: var(--gold);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        
    }
}
@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
@keyframes fadeImg {
    0%{
        opacity: 0;
    }
    15%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 0;
    }
}