<style>
    .nw-link:hover {
        background-color:var(--bg-blue-transparent) !important;
        color: var(--white) !important;
        transition: background-color .6s ease-in-out;
    }
</style>

<main style="overflow: hidden;">
    <!---=========INTRO BEGIN========-->
    <section class="mt-5 pt-5 mb-0 ft-upper">
        <div class="container mt-5">
            <div class="row justify-content-center align-items-end container">
                <div class="col-md-8 justify-content-center container rounded-4 now-word">
                    <img src="img/now_word.png" alt="">
                </div>
            </div>
            
        </div>

        <div class=""></div>
        
    </section>
    
    <!---=========INTRO END========-->


    <section class=" mb-5">
        <div class="container mt-5">
            <div class="mt-5 pt-5 ft-upper fw-bold text-center fs-4" style="color:var(--fire-red)">About Now Word</div>
            <p class="mb-3 text-dark container">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div class="container row justify-content-center align-items-center">

                {{#each nowword}}
                <a href="{{this.file_url}}" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        {{this.title}}
                    </div>
                </a>
                {{/each}}

                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>
                <a href="#" class="col-sm-3 mb-4 m-3 p-3 nw-link d-flex justify-content-center align-items-center bg-secondary text-dark">
                    <div class="">
                        <img width="20" class="me-1" src="img/icon/now_word.png" alt="now-word">
                    </div>
                    <div class="text-center fw-normal ft-upper fs-6">
                        JANAURY - MARCH ‘24
                    </div>
                </a>

            </div>

            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    {{#if (gt currentPage 1)}}
                      <li class="page-item">
                        <a class="page-link" href="?page={{subtract currentPage 1}}">Previous</a>
                      </li>
                    {{else}}
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                    {{/if}}
              
                    {{#each (range 1 totalPages)}}
                      <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                        <a class="page-link" href="?page={{this}}">{{this}}</a>
                      </li>
                    {{/each}}
              
                    {{#if (lt currentPage totalPages)}}
                      <li class="page-item">
                        <a class="page-link" href="?page={{add currentPage 1}}">Next</a>
                      </li>
                    {{else}}
                      <li class="page-item disabled">
                        <a class="page-link">Next</a>
                      </li>
                    {{/if}}
                  </ul>
                </nav>
            </div>
        </div>
       </section>
    
</main>

<div class="ellipse_circle"></div>
<div class="ellipse_circle_blue"></div>
