<div class="event-countdown-boxes" id="countdown-boxes-wrapper-{{e.id}}">

    <div id="countdown-boxes-{{e.id}}" class="d-flex gap-3">

        <div class="count-box scroll-x-top-el">
            <span id="days-{{e.id}}">0</span>
            <small>Days</small>
        </div>
        <div class="count-box scroll-y-top-el">
            <span id="hours-{{e.id}}">0</span>
            <small>Hrs</small>
        </div>
        <div class="count-box scroll-y-down-el">
            <span id="minutes-{{e.id}}">0</span>
            <small>Min</small>
        </div>
        <div class="count-box scroll-x-down-el">
            <span id="seconds-{{e.id}}">0</span>
            <small>Sec</small>
        </div>

    </div>
</div>