<main class="mt-5 py-5 container">
    <form action="/media/sermon" method="POST" id="uploadForm" enctype="multipart/form-data" class="text-dark">
        <div>
          <label for="audio">Audio File:</label>
          <input type="file" id="audio" name="audio" accept="audio/*" required>
        </div>
        <div>
          <label for="image">Image File:</label>
          <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <div>
          <label for="image">Live Stream Video Link:</label>
          <input type="url" id="video" name="video_url">
        </div>

        <button type="submit">Submit</button>
    </form>
    <progress id="progressBar" value="0" max="100" style="width: 100%; display: none;"></progress>
    <div id="status"></div>
</main>

<script src="js/uploader.js"></script>