<section class="container">
	<div class="mt-5 pt-5 text-dark">
		<h2 class="h1 mb-5"><span class="text-danger">500 Error</span>: {{error}}</h2>
		<h2 class="lead h2">
    		<p class="fw-bold">{{error}}</p>

			<p class="fw-bold"> {{error.message}}</p>
			
			<p class="fw-bold"> {{message}}</p>

			<p>Here are a few things you can try:</p>
			<ul>
				<li>
					Refresh the page: Sometimes a simple refresh can resolve temporary server issues.
				</li>
				<li>
					Go back to the previous page: Use your browser's back button to return to the previous page and try again later.
				</li>
				<li>
					Visit the homepage: You can navigate to our homepage and explore from there.
				</li>
				<li>
					If you continue to experience this error, please try again later or contact our support team for assistance.
				</li>
			</ul>
			<p>
				Thank you for your patience and understanding.
			</p>
		</h2>

	</div>
</section>