<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                       Department
                    </div>
                    <div class="text-xs mb-0 text-gray-800">
                        <ul class="list-style-type-unstyled">
                            <li><a href="/admin/department" class="text-danger">View Department</a></li>
                            <li><a href="/admin/department/create" class="text-danger">Create Department</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-regular fa-id-badge fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>