<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-dark shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                        Zoe Records
                    </div>
                    <div class="text-xs mb-0 text-gray-800">
                        <ul class="list-style-type-unstyled">
                            <li><a href="/admin/zoe-record/create" class="text-dark">Create New Record</a></li>
                            <li><a href="/admin/zoe-record" class="text-dark">View Zoe Record</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-solid fa-compact-disc fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>