<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Sermons
                    </div>
                    <div class="text-xs mb-0 text-gray-800">
                        <ul class="list-style-type-unstyled">
                            <li><a href="/admin/sermon/create" class="text-info">Create New Sermon</a></li>
                            <li><a href="/admin/sermon" class="text-info">View Sermon</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-solid fa-headphones-simple fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>