<main class="my-5 py-5">
  <div class="container" style="max-width:500px; margin:auto; padding:2rem;">
  <h2 class="text-center">Change Password</h2>

  {{#if error}}<p class="text-center text-danger">{{error}}</p>{{/if}}
  {{#if success}}<p class="text-success">{{success}}</p>{{/if}}

  <form action="/auth/change-password" method="POST" style="margin-top:1rem;">

    <div class="form-group mb-3" style="position: relative;">
        <input type="password" name="oldPassword" class="form-control-user" placeholder="Old Password" required>
        <i class="fa-regular fa-eye"></i>
        <div class="invalid-feedback">Password is required</div>
      </div>

    <div class="form-group mb-3" style="position: relative;">
        <input type="password" name="newPassword" class="form-control-user" placeholder="New Password" required>
        <i class="fa-regular fa-eye"></i>
        <div class="invalid-feedback">Password is required</div>
      </div>

    <button type="submit">Change Password</button>
  </form>
</div>

</main>